/* mixins */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'Rokkitt', serif;
}
h1 {
  color: #000000;
  margin-top: 40px;
}
h2 {
  color: #a8a9ad;
  font-size: 1.8rem;
}
p {
  margin: 0 !important;
  font-size: 1.5rem;
}
.height-100 {
  height: 100%;
}
.inline-block {
  display: inline-block;
}
.quote {
  max-height: 50px;
  width: 62.5px;
  margin-top:34px;
}

@media (max-width: 991px){
  .quote{
    margin-top: 0;
  }
}
